# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Insert a line in a file
      - name: Insert a line in a file
        run: echo Line1 with WORD! >> input.txt
      # Insert a line in a file
      - name: Insert a line in a file
        run: echo Line2 with WORD! >> input.txt
      # Insert a line in a file
      - name: Insert a line in a file
        run: echo Line3 without! >> input.txt
      # Insert a line in a file
      - name: Insert a line in a file
        run: echo Line4 with WORD! >> input.txt
      # Insert a line in a file
      - name: Insert a line in a file
        run: echo Line5 without! >> input.txt
      # Add execution permission to filterFile script
      - name: Add execution permission to filterFile script
        run: chmod +x filterFile.sh
      # Run filterFile.sh
      - name: Run the filterFile script
        run: ./filterFile.sh -i input.txt -o output.txt -f "WORD"
      # Check number of lines
      - name: check number of lines
        run: numLines=$(wc -l output.txt | awk '{print $1}'); if [[ $numLines == 43 ]]; then exit 0; else exit 1; fi
        
